<div class="refine-label">Behavioral Statistics</div>
<%= link_to({:type => 'rating'}) do %>
  <div class="item">Employee Ratings</div>
<% end %>
<%= link_to({:type => 'employee_activity'}) do %>
  <div class="item">Employee Activity</div>
<% end %>
<%= link_to({:type => 'efficiency'}) do %>
  <div class="item">Efficiency</div>
<% end %>
<%= link_to({:type=> 'interaction_analysis'}) do %>
  <div class="item">Interaction Analysis</div>
<% end %>
<%= link_to({:type => 'category'}) do %>
  <div class="item">Ticket Categories</div>
<% end %>
<%= link_to({:type => 'website_analytics'}) do %>
  <div class="item">Website Analytics</div>
<% end %>