<div class="refine-label">Behavioral Statistics</div>
<%= link_to({:type => 'rating'}) do %>
  <div class="item">Employee Ratings</div>
<% end %>
<%= link_to({:type => 'employee_activity'}) do %>
  <div class="item">Employee Activity</div>
<% end %>
<%= link_to({:type=> 'ticket_generation'}) do %>
  <div class="item">Ticket Postings</div>
<% end %>
<%= link_to({:type => 'comment_postings'}) do %>
  <div class="item">Comment Postings</div>
<% end %>
<%= link_to({:type => 'category'}) do %>
  <div class="item">Ticket Categories</div>
<% end %>
<%= link_to({:type => 'ticket_statuses'}) do %>
  <div class="item">Ticket Statuses</div>
<% end %>
