<% provide(:title, "Statistics") %>

<h1>Statistics</h1>

<div class=".container-fluid" id="container">
  <div class="row">
    <div class="col-md-4 empl-filter-bar stat-filter stat-right" id="two-four">
        <%= render 'statistics_types' %>
    </div>
    <div class="col-md-4 graph-area" id="ten-eight">
      <div class="row">
      <% if params[:type] == "employee_activity" || params[:type] == "efficiency" %>
      	<%=  high_chart("category_graph1", @chart) %>
      	</div>
      	<div class="row">
      	 <%=  high_chart("category_graph2", @chart1) %>
      	</div>
      <% else %>
    	  <%=  high_chart("category_graph", @chart) %>
    	  </div>
    	<% end %>
    </div>
    <style>
      if (window.chart_category_graph.yAxis[0].getExtremes().dataMax < 10) {
         window.chart_category_graph.yAxis[0].setExtremes(0, 10);
       }    
    </style>
    <div class="col-md-4 empl-filter-bar stat-filter stat-left" >
        <%= render 'statistics_filter' %>
    </div>
	</div>
	<h3>Your Rating</h3>
	You have <%= @employee.num_of_ratings %> rating <br>
	Your average score is <%= (@employee.total_stars.to_f /  @employee.num_of_ratings.to_f).round(2) %> out of 5 <br>
	
	
	<% 
	stars = 0
	ratings = 0
	@employees.each do |e|
	  stars += e.total_stars
	  ratings += e.num_of_ratings
	end 
	%>
	
  The employee average score is <%=(stars.to_f / ratings.to_f).round(2) %> out of 5
  
	<!-- Commenting out all of this stuff till it can actually be applied
	<% if 1 == 0 %>
	
	<% Visit.all.each do |visit| %>
	  <div>
        <h3> Vist ID: <%= visit.id %></h3>
          <p> Referrer: <%= visit.referrer %></p>
          <p> Landing Page: <%= visit.landing_page %></p>
          <p> IP Address: <%= visit.ip %></p>
          <p> Referring Domain: <%= visit.referring_domain %></p>
          <p> Browser: <%= visit.browser %></p>
          <p> Operating System: <%= visit.os %></p>
          <p> Device Type: <%= visit.device_type %></p>
          <p> Country: <%= visit.country %></p>
          <p> Region: <%= visit.region %></p>
          <p> City: <%= visit.city %></p>
          <p> Visit Time: <%= visit.started_at %></p>
    <% end %>
    <% ::Ahoy::Event.all.each do |event| %>
	  <div>
        <h3> Event ID: <%= event.id %></h3>
          <p> Type: <%= event.name %></p>
          <p> Page: <%= event.properties["page"] %></p>
          <% if !event.properties["title"].nil? %>
            <p> Page Title: <%= event.properties["title"] %></p>
          <% end %>
          <% if !event.properties["tag"].nil? %>
            <p> Tag: <%= event.properties["tag"] %></p>
          <% end %>
          <% if !event.properties["id"].nil? %>
            <p> Tag ID: <%= event.properties["id"] %></p>
          <% end %>
          <% if !event.properties["class"].nil? %>
            <p> Tag Class: <%= event.properties["class"] %></p>
          <% end %>
          <% if !event.properties["text"].nil? %>
            <p> Link Text: <%= event.properties["text"] %></p>
          <% end %>
          <% if !event.properties["href"].nil? %>
            <p> Link Target: <%= event.properties["href"] %></p>
          <% end %>
          <p> Time: <%= event.time %></p>
    <% end %>
	  </div>
	 <% end %>
	 -->
	  
	