<% provide(:title, @employee.first_name) %>
<div class=".container-fluid">
  <div class="row">
    <h3 class="page-title">Open Tickets (<%= @tickets.count %>)</h3>
    <div class="col-md-2 empl-filter-bar">
      <%= link_to create_ticket_path do %>
        <div class="create-ticket">Create Ticket</div>
      <% end %>
      <div class="refine-label">Refine by</div>
      <%= link_to({:action => 'display_tickets', :filter => '1'}) do %>
        <div class="item">Most Recent</div>
      <% end %>
      <%= link_to({:action => 'display_tickets', :filter => '2'}) do %>
        <div class="item">Least Recent</div>
      <% end %>
      <div class="item">Priority</div>
      <div class="item">Customer</div>
      <div class="item">Last Filter</div>
      <div class="refine-label">Analyze</div>
      <div class="item">Statistics</div>
      <div class="refine-label">Search for</div>
      <div class="item">search box...</div>
      <div class="refine-label">Categories</div>
      
      <% @category.each do |category| %> 
        <%= link_to({:action => 'display_tickets', :category => category.id}) do %>  
          <div class="item"><%= category.name %></div>
        <% end %>
      <% end %>
      
    </div>
    <div class="col-md-10">
      <%= render 'shared/ticket_list' %>
    </div>
  </div>
</div>