<% provide(:title, @employee.first_name) %>
<div class=".container-fluid">
  <div class="row">
    <h3 class="page-title">Open Tickets (<%= @tickets.count %>)</h3>
    <div class="col-md-2 empl-filter-bar">
        <div class="refine-label">Refine by</div>
        <div class="item">Most Recent</div>
        <div class="item">Least Recent</div>
        <div class="item">Priority</div>
        <div class="item">Customer</div>
        <div class="item">Last Filter</div>
        <div class="refine-label">Analyze</div>
        <div class="item">Statistics</div>
        <div class="refine-label">Search for</div>
        <div class="item">search box...</div>
    </div>
    <div class="col-md-10">
        <ol class="ticket-list">
          <!-- put a link tag around the following line that will go to the respective single ticket page -->
          <% @tickets.each do |ticket| %>
            <li>
              <div class="ticket-info">
                <%= link_to(ticket.title, {:controller=>'tickets', :action => 'show', :id => ticket.id}) %>
                <p class="timestamp">
                  <%= time_ago_in_words(ticket.created_at).capitalize %> ago
                </p>
              </div>
              <% if employee_logged_in? %>
                <div class="div-align-right">
                    <%= button_to "delete", ticket, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
                </div>
                <div class="clear-float"></div>
              <% end %>
            </li>
          <% end %>
          <!--<a href="http://google.com"><div><%= render @tickets %></div></a>-->
        </ol>
        <%= will_paginate @tickets %>
    </div>
  </div>
</div>