<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <div class="pwdStyle">
        <%= link_to({:action => 'edit_info'}) do %>   
          <div class="actLink">Back to Account Info</div>
        <% end %>
      <div class="clear-float"></div>
      </div>
      <div class="spacer20"></div>
      <%= form_for(@employee) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :current_password %>
        <%= f.password_field :old_password, class: 'form-control form-group' %>
        
        <%= f.label :new_password %>
        <%= f.password_field :password, class: 'form-control form-group' %>
  
        <%= f.label :new_password_confirmation, "New Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control form-group' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>