<% provide(:title, @employee.first_name) %>
<script>
    $(document).ready(function(){
      $("#pop-up-toggle").hide();

      $("#create-popup").click(function(){
        $("#pop-up-toggle").fadeToggle();
        $("#container").fadeTo( "fast", 0.5 );
        return false;
      });

      $("#hide-popup").click(function(){
        $("#pop-up-toggle").fadeToggle();
        $("#container").fadeTo( "fast", 1 );
        return false;
      });
    });
</script>
<div class="pop-up-container" id="pop-up-toggle">
  <div class="pop-up">
    <h3>Create Ticket</h3>
    <a href="#" id="hide-popup">Close</a>
    <div class="spacer20"></div>
    <section class="micropost_form">
      <%= render 'shared/ticket_form' %>
    </section>
  </div>
</div>
<div class=".container-fluid" id="container">
  <div class="row">
    <h3 class="page-title"><%= @employee.first_name %>: Tickets (<%= @tickets.count %>)</h3>

    <div class="col-md-2 empl-filter-bar" id="two-four">
      <%= render 'shared/filter_column' %>
    </div>
    <div class="col-md-10" id="ten-eight">
      <%= render 'shared/profile_ticket_list' %>
    </div>
  </div>
</div>