<% provide(:title, @employee.first_name) %>
<script>
    $(document).ready(function(){
      $("#pop-up-toggle").hide();

      $("#create-popup").click(function(){
        $("#pop-up-toggle").fadeToggle();
        $("#container").fadeTo( "fast", 0.5 );
        return false;
      });

      $("#hide-popup").click(function(){
        $("#pop-up-toggle").fadeToggle();
        $("#container").fadeTo( "fast", 1 );
        return false;
      });
    });
</script>
<div class="pop-up-container" id="pop-up-toggle">
  <div class="pop-up">
    <h3>Create Ticket</h3>
    <a href="#" id="hide-popup">Close</a>
    <div class="spacer20"></div>
    <section class="micropost_form">
      <%= render 'shared/ticket_form' %>
    </section>
  </div>
</div>
<div class=".container-fluid" id="container">
  <div class="row">
    <div class="title-left"><h3 class="page-title"><%=@employee.last_name%>, <%=@employee.first_name%><br></h3><h4 class="page-title">Employee ID: <%=@employee.id%></h4></div>
    <div class="title-right"><h3 class="page-title"><%=@employee.email%></h3></div>
    <div class="clear-float"></div>

    <div class="col-md-2 empl-filter-bar">
      <%= render 'shared/filter_column' %>
    </div>
    <div class="col-md-10">
      
       <% @options = { :Descending => 'Most_Recent', :Ascending => 'Least_Recent' } %>
      <%= 
      select_tag :order_select,  options_for_select(@options), class: 'btn btn-default order-drop', :'data-remote' => 'true', :'data-url' => url_for(:controller => 'employees', :action => 'show', :filter => params[:filter], :status => params[:status], :category => params[:category]) # we get the data from here!
      %>
      <div class="clear-float"></div>
      <div id = "profile_tickets" >
            <%= render 'shared/all_tickets_list', :tickets => @tickets %>
      </div>
    </div>
  </div>
</div>