
<ol class="ticket-list">
  <% tickets.each do |ticket| %>
    <li>
      <div class="ticket-info">
        <%= link_to(ticket.title, {:controller=>'tickets', :action => 'show', :id => ticket.id}, remote: false, class: 'ticket-title') %>
        <p class="timestamp">
          <%= time_ago_in_words(ticket.updated_at).capitalize %> ago
        </p>
      </div>
      <div class="div-align-right">
        <div class="float-right">
          
          <%= button_to "delete", ticket, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
        </div>
        <div class="float-right margin-right">
          <% if employee_logged_in? && ticket.employee_id == nil %>
              <%= button_to "claim", update_employee_on_ticket_path(:ticket_id => ticket.id), class: 'btn btn-default' %>
          <% end %>
        </div>
        <div class="float-right margin-right">
          <% if ticket.ticket_status_id == 2 %>
              <% if !Rate.find_by(rateable_id: ticket.id).nil? %>
                <p><%=  rating_for ticket, "experience", :star => 5, star_path: '/images/ratyrate'  %></p>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="clear-float"></div>
    </li>
  <% end %>

</ol>
  <%= will_paginate tickets %>