<ol class="ticket-list">
  <% @tickets.each do |ticket| %>
    <li>
      <div class="ticket-info">
        <%= link_to(ticket.title, {:controller=>'tickets', :action => 'show', :id => ticket.id}) %>
        <p class="timestamp">
          <%= time_ago_in_words(ticket.created_at).capitalize %> ago
        </p>
      </div>
      <div class="div-align-right">
          <div class="float-right">
            <%= button_to "delete", ticket, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
          </div>
          <div class="float-right margin-right">
            <% if employee_logged_in? && ticket.employee_id == nil %>
                <%= button_to "claim", update_employee_on_ticket_path(:ticket_id => ticket.id), class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      <div class="clear-float"></div>
    </li>
  <% end %>
</ol>
<%= will_paginate @tickets %>