 <div class="comment-box">
  <%= form_for(@comment, html: { multipart: true }) do |f| %>
    <%= f.text_area :message, placeholder: "Post your reply here...", class: 'new-comment-field' %>
    <%= f.submit "Post", class: "btn btn-primary post-comment" %>
    <%= f.hidden_field :id, :value => ticket.id %>
    <% if customer_logged_in? %>
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
    <% end %>
  <% end %>
  <script type="text/javascript">
    $('#ticket_picture').bind('change', function() {
      size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>
</div>