<%= form_for(@ticket) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <% if (employee_logged_in?) %>
    	Customer ID:
    	<% if !@customer.nil? %>
    	   <%= f.text_area :customer_id, class: "new-ticket-customer-id-field form-group", value: @customer.id %> 
      <% else %>
    	  <%= f.text_area :customer_id, class: "new-ticket-customer-id-field form-group", placeholder: "Customer ID" %>
    	<% end %>
    	Select a category for this ticket
      <%= f.collection_select(:ticket_category_id, @catagories, :id, :name, class: "form-group") %>
    	<div class="spacer20"></div>
      	Please describe the issue below
        <%= f.text_area :title, class: "new-ticket-field form-group", placeholder: "Enter ticket title..." %>  
      </div>
    <%= f.submit "Post", class: "btn btn-primary form-group" %>	
    <% end %>
    
    
<% end %>