<a href="#" id="create-popup"><div class="create-ticket-e">Create Ticket</div></a>
<div class="refine-label">Refine by</div>
      <%= link_to({:filter => '1'}) do %>
        <div class="item">Most Recent</div>
      <% end %>
      <%= link_to({:filter => '2'}) do %>
        <div class="item">Least Recent</div>
      <% end %>
      <div class="item">Priority</div>
      <div class="item">Customer</div>
      <div class="item">Last Filter</div>
      <div class="refine-label">Analyze</div>
      <%= link_to({:action => 'display_statistics'}) do %>
        <div class="item">Statistics</div>
      <% end %>
      <div class="refine-label">Search for</div>
      <div class="item">search box...</div>
      <div class="refine-label">Categories</div>
      
      <% @category.each do |category| %> 
        <%= link_to({:category => category.id}) do %>  
          <div class="item"><%= category.name %></div>
        <% end %>
      <% end %>
      