<a href="#" id="create-popup">
  <div class="create-ticket-e">Create Ticket</div>
</a>
<div class="refine-label">Refine by</div>
<%= link_to({:filter => 'All'}) do %>
  <div class="item">All</div>
<% end %>

<% @statuses.each do |status| %> 
  <%= link_to({:status => status.id}) do %>  
    <div class="item"><%= status.status %></div>
  <% end %>
<% end %>

<div class="refine-label">Analyze</div>
<%= link_to({:action => 'display_statistics'}) do %>
  <div class="item">Statistics</div>
<% end %>
<div class="refine-label">Search for</div>
<div class="item">search box...</div>
<div class="refine-label">Categories</div>


<%= link_to({:category => 0}) do %>  
    <div class="item"><%= 'Uncatagorized' %></div>
  <% end %>
<% @catagories.each do |category| %> 
  <%= link_to({:category => category.id}) do %>  
    <div class="item"><%= category.name %></div>
  <% end %>
<% end %>