
<% if customer_logged_in? %>
  <% if params[:show_more] == "false" || params[:show_more].nil? %>
    <% comments = ticket.comments.last(5) %>
  <% elsif params[:show_more].to_f == ticket.id  %>
    <% comments = ticket.comments.all %>
  <% else %>
    <% comments = ticket.comments.last(5) %>
  <% end %>
<% else %>
  <% comments = ticket.comments.all %>
<% end %>
<% comments.each do |comment| %>
  <% if customer_comment? (comment.initiator) %>
    <li class="customer-comment-li">
      <div class="comment-container">
      <p class="comment-name-customer"><%= ticket.customer.first_name %></p>
  <% else %>
    <li class="employee-comment-li">
      <div class="comment-container">
      <p class="comment-name-employee">Employee (<%= comment.employee.first_name %>)</p>
  <% end %>
      <div class="comment-time">
        <% time = time_ago_in_words(comment.created_at) %>
          <% if time.index(',') != nil %>
            <%= time[0..time.index(',')-1] %> ago
          <% elsif time.index(" ") != nil && time.index("less") == nil %>
            <% first_space = time.index(" ") %>
              <% if time.index(' ', first_space+1) != nil %>
                <%= time[0..time.index(' ', first_space)] %> ago
              <% else %>
                <%= time %> ago
              <% end %>
          <% else %>
            <%= time %> ago
          <% end %>
      </div>
      <div class="clear-float"></div>
      <div class="comment-content">
        <%= comment.message %>
        <% if comment.picture? %>
          <p class="comment-attachment">Attachments:</p>
          <%= image_tag comment.picture.url if comment.picture? %>
        <% end %>
      </div>
    </div>
      <div class="clear-float"></div>
  </li>
<% end %>