<%= form_for(@ticket) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <% if (employee_logged_in?) %>
    	<%= f.text_area :customer_id, class: "new-ticket-customer-id-field form-group", placeholder: "Customer ID" %> 
    <% end %>
    <%= f.text_area :title, class: "new-ticket-field form-group", placeholder: "Type your question here..." %>  
    
    <%= f.collection_select(:id, @catagories, :id, :name, class: "form-group") %>
  	<div class="spacer20"></div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary form-group" %>
<% end %>