
<ol class="ticket-list">
    <% if @tickets.count != 0 %>
       <%  @tickets.each do |ticket| %>
      <script>
         $(document).ready(function(){
            $("#toggler<%= ticket.id %>").hide();

            $("#toggle-commander<%= ticket.id %>").click(function(){
              $("#toggler<%= ticket.id %>").slideToggle();
              return false;
            });
          });
      </script>
      <li>
        <div class="ticket-info">
          <a href="#" id="toggle-commander<%= ticket.id %>"><%= ticket.title %></a>
          <p class="timestamp">
            <%= time_ago_in_words(ticket.created_at).capitalize %> ago
          </p>
        </div>
        <div class="div-align-right">
          <div class="float-right">
            <%= button_to "delete", ticket, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
          </div>
          <div class="float-right margin-right">
            <% if ticket.ticket_status_id == 1 %>
                <%= button_to "resolve", update_status_path(:ticket_id => ticket.id), class: 'btn btn-primary' %>
            <% elsif ticket.ticket_status_id == 2 %>
                <%= button_to "reopen", update_status_path(:ticket_id => ticket.id), class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
        <div class="clear-float"></div>
      
        <div id="toggler<%= ticket.id %>">
          <ol class="comment-list">
            <%= render :partial => 'shared/show_ticket_comments', locals: { :ticket => ticket } %>
            <div class="comment-box-padding"><%= render :partial => 'shared/comment_box', locals: { :ticket => ticket } %></div>
            <div class="clear-float"></div>
          </ol>
        </div>
      </li>
    <% end %>
  <% end %>
</ol>
