<ol class="ticket-list">
    <% if @tickets.count != 0 %>
       <%  @tickets.each do |ticket| %>
      <script>
         $(document).ready(function(){
            $("#toggler<%= ticket.id %>").hide();
            <% if(params[:show_more] != nil) %>
              $("#toggler<%= params[:ticket_id] %>").slideDown();
            <% elsif(params[:open_ticket] == nil && ticket.id.to_f == params[:ticket_toggle].to_f) %>
                $("#toggler<%= ticket.id %>").slideDown();
            <% elsif(params[:open_ticket].to_f == ticket.id.to_f && ticket.id.to_f == params[:ticket_toggle].to_f) %>
                $("#toggler<%= ticket.id %>").show();
                $("#toggler<%= ticket.id %>").slideUp();
            <% elsif(params[:open_ticket].to_f != ticket.id.to_f && ticket.id.to_f == params[:ticket_toggle].to_f) %>
                $("#toggler<%= ticket.id %>").slideDown();
            <% else %>
                $("#toggler<%= ticket.id %>").slideUp();
            <% end %>
          });
      </script>
      <li id="jumpTo<%= ticket.id %>">
        <div class="ticket-info">
          <% tempParams = params[:open_ticket] %>
          <% tempParams2 = params[:temp_id] %>
          <% if ticket.unread %>
            <div class="unread-circle"></div>
          <% end %>
          <%= link_to({:ticket_toggle => ticket.id, :open_ticket => tempParams, :temp_id => tempParams2}) do %>
            <div class="ticket-title"><%= ticket.title %></div>
          <% end %>
          
          <p class="timestamp">
            <%= time_ago_in_words(ticket.updated_at).capitalize %> ago
          </p>
        </div>
        <div class="div-align-right">
          <div class="float-right">
            <%= button_to "Delete", ticket, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
          </div>
          <div class="float-right margin-right">
            <% if ticket.ticket_status_id == 1 %>
                <%= button_to "Resolve", update_status_path(:ticket_id => ticket.id), class: 'btn btn-default' %>
            <% elsif ticket.ticket_status_id == 2 %>
                <p><%=  rating_for ticket, "experience", :star => 5, star_path: '/images/ratyrate', cancel_hint: 'Cancel this vote!', disable_after_rate: false %></p>
            <% elsif ticket.ticket_status_id == 3 %><!-- discuss on whether to remove this check mark... -->
                <%= image_tag("checkmark.png", :alt => "resolved", size: "40x40") %>
            <% end %>
          </div>
        </div>
        <div class="clear-float"></div>
      
        <div id="toggler<%= ticket.id %>">
          <ol class="comment-list">
          <div class="center-showMoreLess">
            <% if ticket.comments.count > 5 %>
              <% if (params[:show_more].nil? ||  params[:show_more] == "false") %>
                <%= link_to "Show More Comments", {:controller => "customers", :action => "show", :ticket_id => ticket.id, :show_more => ticket.id} , :method=>:get,  class: 'showMoreLess-button' %> 
              <% else %>
                <% if params[:show_more].to_f == ticket.id %> 
                  <%= link_to "Show Less Comments", {:controller => "customers", :action => "show", :ticket_id => ticket.id, :show_more => false} , :method=>:get,  class: 'showMoreLess-button' %> 
                <% else %>
                  <%= link_to "Show More Comments", {:controller => "customers", :action => "show", :ticket_id => ticket.id, :show_more => ticket.id} , :method=>:get,  class: 'showMoreLess-button' %> 
                <% end %>
              <% end %>
            <% end %>
            </div>
            <%= render :partial => 'shared/show_ticket_comments', locals: { :ticket => ticket } %>
            <div class="comment-box-padding"><%= render :partial => 'shared/comment_box', locals: { :ticket => ticket } %></div>
            <div class="clear-float"></div>
          </ol>
        </div>
      </li>
    <% end %>
  <% end %>
</ol>
