
<ol class="ticket-list">
    <% if @tickets.count != 0 %>
       <%  @tickets.each do |ticket| %>
      <script>
         $(document).ready(function(){
            $("#toggler<%= ticket.id %>").hide();
            <% if(params[:ticket_id] != nil) %>
              $("#toggler<%= params[:ticket_id] %>").slideDown();
            <% end %>
            $("#toggle-commander<%= ticket.id %>").click(function(){
              $("#toggler<%= ticket.id %>").slideToggle();
              return false;
            });
          });
      </script>
      <li id="jumpTo<%= ticket.id %>">
        <div class="ticket-info">
          <a href="#" class="ticket-title" id="toggle-commander<%= ticket.id %>"><%= ticket.title %></a>
          <p class="timestamp">
            <%= time_ago_in_words(ticket.created_at).capitalize %> ago
          </p>
        </div>
        <div class="div-align-right">
          <div class="float-right">
            <%= button_to "Delete", ticket, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
          </div>
          <div class="float-right margin-right">
            <% if ticket.ticket_status_id == 1 %>
                <%= button_to "Resolve", update_status_path(:ticket_id => ticket.id), class: 'btn btn-default' %>
            <% elsif ticket.ticket_status_id == 2 %>
                <p>Experience : <%=  rating_for ticket, "experience", :star => 5 %></p>
                <%= image_tag("checkmark.png", :alt => "resolved", size: "40x40") %>
            <% end %>
          </div>
        </div>
        <div class="clear-float"></div>
      
        <div id="toggler<%= ticket.id %>">
          <ol class="comment-list">
            <% if (params[:show_more].nil? ||  params[:show_more] == "false") %>
              <%= link_to "Show More", {:controller => "customers", :action => "show", :ticket_id => ticket.id, :show_more => ticket.id} , :method=>:get,  class: 'show_more_button' %> 
            <% else %>
                <% if params[:show_more].to_f == ticket.id %> 
                  <%= link_to "Show Less", {:controller => "customers", :action => "show", :ticket_id => ticket.id, :show_more => false} , :method=>:get,  class: 'show_more_button' %> 
                <% else %>
                  <%= link_to "Show More", {:controller => "customers", :action => "show", :ticket_id => ticket.id, :show_more => ticket.id} , :method=>:get,  class: 'show_more_button' %> 
              <% end %>
            <% end %>
            <%= render :partial => 'shared/show_ticket_comments', locals: { :ticket => ticket } %>
            <div class="comment-box-padding"><%= render :partial => 'shared/comment_box', locals: { :ticket => ticket } %></div>
            <div class="clear-float"></div>
          </ol>
        </div>
      </li>
    <% end %>
  <% end %>
</ol>
