<% provide(:title, 'All Customers') %>
<h1>All Customers</h1>

<%= form_tag customers_path, :method => 'get' do %>
  <p>
    <div class="search_bar"><%= text_field_tag :search, params[:search], :placeholder => 'Enter a name', :size => 100 %></div>
    <div class="submit_button"><%= submit_tag "Search", :name => nil %></div>
  </p>
<% end %>

<ul class="users">
  <%= render @customers %>
</ul>

<%= will_paginate %>