<% provide(:title, @customer.first_name) %>
<div class="row">
  <div class="col-md-12"> 
    <h3 class="title-left">Welcome <%= @customer.first_name %>&nbsp;<%= @customer.last_name %> (<%= @customer.tickets.count %>)</h3>
    <div class="clear-float"></div>
  </div>
  <aside class="col-md-12">
      <div>
        <div class="spacer20"></div>
        <section class="micropost_form">
          <%= render 'shared/customer_ticket_form' %>
        </section>
      </div>
  </aside>
  <div class="col-md-12">
    <% if @customer.tickets.any? %>  
        <div id = "profile_tickets" >
            <%= render 'customer_ticket_list' %>
        </div>
    <% end %>
  </div>
  
</div>