<% provide(:title, 'Employee Sign up') %>

<div class="home-container customer-home">
  <div class="home-header">
    <div class="home-logo">
      <%= image_tag("capitalone-logo-white.png", alt: "Capital One Logo", size: "255x96") %>
      <div class="clear-float"></div>
    </div>
  </div>
  <div class="home-login">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>Employee Log In</h1>
      <%= form_for(:session, url: employee_login_path) do |f| %>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control form-group', placeholder: 'Email Address' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control form-group', placeholder: 'Password' %>

        <%= f.submit "Log in", class: "btn btn-primary form-group" %>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="home-footer">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p><%= link_to "Home", root_path %></p>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>