<% provide(:title, @ticket.title) %>
<div class="row">
  <div>
      <h3>Issue: <%= @ticket.title %></h3>
      <ol class="ticket-list">
        <!-- if comment.initiator is true then color it for employee -->
        <% @comments.each do |comment| %>
          <% if customer_comment? (comment.initiator) %>
            <li class="customer-comment-li">
              <div class="ticket-info">
              <p class="comment-name"><%= @ticket.customer.first_name %></p>
          <% else %>
            <li class="employee-comment-li">
              <div class="ticket-info">
              <p class="comment-name">Employee (<%= comment.employee.first_name %>)</p>
          <% end %>
                <%= comment.message %>
                <p class="timestamp">
                  <%= comment.created_at.strftime('%b %d, %Y at %I:%M %p') %>
                </p>
              </div>
              <% if employee_logged_in? %>
                <%= button_to "Delete", { action: "destroy", :controller => "comments", id: comment.ticket.id, comment_id: comment.id },
                                  method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger delete-comment-button' %> 
                <div class="clear-float"></div>
              <% elsif current_customer?(@ticket.customer) %>
                <% if customer_comment? (comment.initiator) %>
                  <%= button_to "Delete", { action: "destroy", :controller => "comments", id: comment.ticket.id, comment_id: comment.id },
                                  method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger delete-comment-button' %> 
                <%end%>
                <div class="clear-float"></div>
              <% end %>              
            </li>
        <% end %>
      </ol>
      <div class="comment-box">
        <%= form_for(@comment, method: 'post') do |f| %>
          <%= f.text_area :message, placeholder: "Post your reply here...", class: 'new-comment-field' %>
          <%= f.hidden_field :id, :value => @ticket.id %>
          <%= f.submit "Post", class: "btn btn-primary post-comment" %>
        <% end %>  
      </div>
  </div>
</div>