<% provide(:title, @ticket.title) %>
<div class="row">
  
  <div class="col-md-10">
    <h3 class="cust-name">Customer: 
      <%= link_to({:controller => 'customers', :action => 'show_info', :id => @ticket.customer.id}) do %><%= @ticket.customer.first_name %> <%= @ticket.customer.last_name %><% end %>
    </h3>
    <% @options =  @categories.map { |c| [ c.name, c.id ] } %>
    <% if @ticket.ticket_category_id == nil %>
      <% @options[@options.count] = ["Please Select", TicketCatagory.all.count] %>
      <% default = @options[@options.count-1][1] %>
    <% else %>
      <% default = @ticket.ticket_category_id %>
    <% end %>
    <%= select_tag :category_select, options_for_select(@options, default),  class: 'btn btn-default category-drop', :'data-remote' => 'true', :'data-url' => url_for(:controller => 'tickets', :action => 'show', :ticket_id => @ticket.id ) %>

    <div class="clear-float"></div> 
 
    <div class="employee-ticket-show">
      <h4 class="ticket-padding title-left font-white"><%= @ticket.title %></h4>
      <% if employee_logged_in? %>
        <div class="float-right margin-right element-bottom-padding">
          <% if @ticket.employee_id == current_employee.id %>
            <% if @ticket.ticket_status_id == 1 %>
                <%= button_to "resolve", update_status_path(:ticket_id => @ticket.id), class: 'btn btn-primary' %>
            <% elsif @ticket.ticket_status_id == 2 %>
                 <% if !Rate.find_by(rateable_id: @ticket.id).nil? %>
                  <p><%=  rating_for @ticket, "experience", :star => 5, star_path: '/images/ratyrate'  %></p>
                <% end %>
                <%= button_to "reopen", update_status_path(:ticket_id => @ticket.id), class: 'btn btn-default' %>
            <% end %>
          <% elsif @ticket.employee_id == nil %>
                <% if !Rate.find_by(rateable_id: @ticket.id).nil? %>
                  <p>Customer Service Experience Rating: <%=  rating_for @ticket, "experience", :star => 5, star_path: '/images/ratyrate' %></p>
                <% end %>
            <%= button_to "claim", update_employee_on_ticket_path(:ticket_id => @ticket.id), class: 'btn btn-default' %>
          <% else %>
             <% if !Rate.find_by(rateable_id: @ticket.id).nil? %>
                  <p>Customer Service Experience Rating: <%=  rating_for @ticket, "experience", :star => 5, star_path: '/images/ratyrate' %></p>
             <% end %>
            <br> <!-- this BR is to render the bg, it is important-->
          <% end %>
        </div>

      <% end %>
      <% if customer_logged_in? %>
        <div class="float-right margin-right">
          <% if @ticket.ticket_status_id == 1 %>
              <%= button_to "resolve", update_status_path(:ticket_id => @ticket.id), class: 'btn btn-primary' %>
          <% elsif @ticket.ticket_status_id == 2 %>
              <%= button_to "reopen", update_status_path(:ticket_id => @ticket.id), class: 'btn btn-default' %>
          <% end %>
        </div>
      <% end %>
      <div class="clear-float"></div>
      <ol class="comment-list">
           <%= render :partial => 'shared/show_ticket_comments', locals: { :ticket => @ticket } %>
           <div class="spacer20"></div>
           <div class="ticket-padding element-bottom-padding"><%= render :partial => 'shared/comment_box', locals: { :ticket => @ticket } %></div>
      </ol>
  </div>
</div>
  <div class="col-md-2">
    <%= form_for(@ticket) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <% if (employee_logged_in?) %>
          <div>
            <h4 class="notesTitle-padding">Notes</h4>
            <%= f.text_area :note, class: "notes-text-field form-group", value: @ticket.note, placeholder: "Notes..." %> 
            <%= f.hidden_field :note_update, :value => "true" %>
            <%= f.submit "Save", class: "btn btn-primary noteSave-btn", data: { disable_with: "Saving..." } %>
            <div class="clear-float"></div>
            <div class="spacer20"></div>
          </div>
      <% end %>
    <% end %>
 </div>
</div>