<% provide(:title, "Customer Log in") %>
<div class="home-container">
  <div class="home-header">
    <div class="home-logo">
      <%= link_to image_tag("capitalone-logo-white.png", alt: "Capital One Logo", size: "255x96"), root_path, id: "logo" %>
      <div class="clear-float"></div>
    </div>
  </div>
  <div class="home-login">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      hello
    </div>
    <div class="col-md-3 c-login-fields">
      <h3>Customer Log In</h3>
      <%= form_for(:session, url: customer_login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control form-group', placeholder: 'Email Address' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control form-group', placeholder: 'Password' %>

        <%= f.submit "Log in", class: "btn btn-primary form-group" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", customer_signup_path %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="home-footer">
    <div class="home-logo">
      <%= link_to "Employee Log in", employee_login_path %>
    </div>
  </div>
</div>