<header class="navbar navbar-fixed-top navbar-inverse navbar-bg">
  <div class="container">
    <% link_path = (current_customer != nil) ? current_customer : current_employee %>
    <div class="nav-logo"><%= link_to image_tag("capitalone-logo-white.png", alt: "Capital One Logo", size: "85x32"), link_path , id: "logo" %></div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help", help_path %></li>
        <% if customer_logged_in? %>
          <li><%= link_to "Tickets", current_customer %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", :action => 'edit_info' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", customer_logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% elsif employee_logged_in? %>
          <li><%= link_to "Customers", customers_path %></li>
          <li><%= link_to "Tickets", employee_tickets_path %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Tickets", current_employee %></li>
              <li><%= link_to "Profile", :action => 'edit_info' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", employee_logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Employee Log in", employee_login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>